/**{
  margin: 0;
  padding: 0;
}
.wrapper{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.share{
  width: 58px;
  height: 58px;
  background: red;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}
.share .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 25px;
}*/
/* Style the links inside the sidenav */
/*#mySidenav a {
    position: absolute;
    left: -80px; 
    transition: 0.3s;
    padding: 15px;
    width: 100px; 
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0;  Rounded corners on the top right and bottom right side 
}*/

/*#mySidenav a:hover {
    left: 0;  On mouse-over, make the elements appear as they should 
}*/

/* The about link: 20px from the top with a green background 
#about {
    top: 20px;
    background-color: #4CAF50;
}*/

/*#blog {
    top: 80px;
    background-color: #2196F3; /* Blue 
}*/

/*#projects {
    top: 140px;
    background-color: #f44336; /* Red 
}*/

/*#contact {
    top: 200px;
    background-color: #555 /* Light Black 
}*/
/**/
.myjumbotron{
  padding: 0px 25px 40px 25px;
  border-radius:15px;
  border:2px white solid;
}
/*ul{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
ul li{
  list-style: none;
}
ul li a{
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
ul li a .fa{
  position: relative;
  color: 262626;
  transition: .5s;
}
ul li a:hover .fa{
  color: #fff;
 transform: rotateY(360deg);
}
ul li a:before .fa{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}
ul li a:hover:before{
  top: 0;
}
                                    /*section1*/

.navbar-nav {
    
    display: inline-flex;
}
#section1 {
  padding-top:120px;height:700px;color: #fff; background-color: rgb(255,255,255);
}
#section1 p{
  color: black;
  font-size:15px;
  line-height: 1;
}
.gsklogo{ 
  max-width:50%;
 } 
/*.navigationfont{
  font-size: 15px;
  text-shadow: 4px 4px 4px #aaa;
}*/
                                     /*section2*/
  #section2 {
    padding-top:100px;height:700px;color: #fff;background:rgb(77,77,77);
  }
#section2 p{
  color: white;
  line-height: 1.2;
  font-size:15px;
  font-family: "Calibri";
}
#section2 h3{
  color: white;
  text-align: center; 
  font-family: "Calibri";
  padding-top: 17px;
}

                                    /*secition3*/
#section3 {
  padding-top:65px;height:750;color: #fff; background-color: rgb(255,255,255);
}
.column{
width: 15.3%;
margin-bottom: 40px;
float: left;
   } 
.card {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);
}
/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
#section3 h5{
  color: black; 
/*  font-family: 'Anton', sans-serif;*/
}
                                    /*section4*/
#section4 
{
  padding-top:30px;height:300px;color: #fff;background: linear-gradient(45deg, rgb(255, 174, 88),rgb(234, 190, 58),rgb(214, 170, 40), rgb(255, 174, 88));
}
  #section4 p{
  color: black;
/*  font-family: 'Anton', sans-serif;*/
  font-size:15px;
  }
  #section4 h1{
    padding-bottom: 20px;
  }
                                     /*section5*/
#section5 {
  padding-top:50px;height:430px;color: #fff;background: linear-gradient(to right,rgb(182, 25, 25), rgb(200,40,27), rgb(182, 25, 25));
  box-shadow: 
}
/*end of sections*/
#section5 p{
  color: white;
  line-height: 1.0;
  font-size:15px;
}
#section5 h3{
  color: maroon;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.panel-footer{
 color: #fff;background: linear-gradient(45deg,black, rgb(30,30,30), black, rgb(30,30,30));
 height: 200px;
}
.panel-footer h3 {
 color: white;
}
.panel-footer p,address {
 color: grey;
/*footer*/
/* Style all font awesome icons */
}
.fa {
    padding: 20px;
    font-size: 90px;
    text-align: center;
    text-decoration: none;
    display: inline;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Twitter */
.fa-youtube {
    background: #55ACEE;
    color: white;
}
.fa-google{
    background: #55ACEE;
    color: white;
}
/* Twitter */
.fa-skype {
    background: #55ACEE;
    color: white;
}
/* Twitter */
.fa-instagram {
    background: #55ACEE;
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: white;
  background-color: rgb(2, 91, 74);
}
/*.vl {
    border-left: 1px solid white;
    margin-top: 25px;
    height:220px;
    position: absolute;
    left: 100%;
    margin-left: -3px;
}*/
/* Display the columns below each other instead of side by side on small screens */
/*@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        }*/
/* Display the columns below each other instead of side by side on tablets screens */
@media screen and (max-width: 768px) {
    .column {
      width: 100%;
      display: block;
    } 

    .myjumbotron{
    border:hidden;
    padding: 0px 15px 0px 15px;
      }
    #section2{
      height:1125px;
  }.beneath{ 
    padding: 0px 25px 0px 25px;
  }#section5 {
  padding-top:50px;height:680px; 
}
   .panel-footer{
    height:570px;
  }
/* Display the columns below each other instead of side by side on laptops and pc screens */
@media screen and (max-width: 992px) {
   /* .column {
        width: 100%;
        display: block;
    }*/
    .gsklogo{max-width:70%;}

@media screen and (max-width: 1200px) {
}
/* Some left and right padding inside the container */
